Student Information

<% for(var i=0; i<students.length; i++) {%>
    <p><%= "USN: " + students[i].usn %></p>
    <p><%= "Name: " + students[i].name %></p>
    <p><%= "Sex: " + students[i].sex %></p>
    <p><%= "sem: " + students[i].sem %></p>
    <p><%= "Branch: " + students[i].branch %></p>
    <p><%= "College: " + students[i].college %></p>
    <p><%= "ac: " + students[i].ac %></p>
    <p><%= "pn: " + students[i].pn %></p>
    <p><%= "bn: " + students[i].bn %></p>
<% } %>